<nav class="navbar navbar-inverse page-navbar" role="navigation">
  <div class="page-navbar-container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav page-nav">
          <li><a href="/">Home</a></li>
          <li><a href="/archive.html">Archive</a></li>
          <li><a href="/tags.html">Tags</a></li>
          <li><a href="/about.html">About</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right page-nav">
        <!-- <li><a href="https://github.com/{{site.owner.github}}">GitHub</a></li> -->
          <li class="extern"><a href="https://groups.google.com/d/forum/actor-framework">Google Group</a></li>
          <li class="extern"><a href="https://github.com/actor-framework/actor-framework/issues">Issue Tracker</a></li>
          <li><a href="/feed.xml">RSS Feed</a></li>
          <li><a href="/documentation.html">DOC</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
