  <nav class="hover-underline-menu underline-from-center">
    <div class="row">
      <ul class="menu align-right">
        {% if page.nav-type == "home" %}
          <li><a href="/blog/index.html">Dev Blog</a></li>
          <li><a href="/index.html#getting-started">Getting Started</a></li>
          <li><a href="/index.html#users">Who Is Using CAF?</a></li>
          <li><a href="/index.html#community">Community</a></li>
          <li><a href="/index.html#features">Features</a></li>
        {% else %}
          <li><a href="/blog/index.html">Dev Blog</a></li>
          <li><a href="/index.html">Home</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>
