<div class="sidebar">
  <div class="container sidebar">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}

      <a class="sidebar-nav-item" href="https://github.com/{{site.owner.github}}">GitHub</a>
      <!-- <a class="sidebar-nav-item" href="http://www.actor-framework.org/">Project Website</a> -->
      <a class="sidebar-nav-item" href="https://groups.google.com/d/forum/actor-framework">Google Group</a>
      <a class="sidebar-nav-item" href="http://actor-framework.github.io/actor-framework/manual/index.html">User Manual (HTML)</a>
      <a class="sidebar-nav-item" href="http://actor-framework.github.io/actor-framework/manual/manual.pdf">User Manual (PDF)</a>
      <!-- <span class="sidebar-nav-item">Currently v{{ site.version }}</span> -->
    </nav>

    <div class="sidebar-about">
      <h2>
        <a> Scientific Use </a>
      </h2>
      <p>
        If you use CAF in a scientific context, please use the citation on our <a href="http://www.realmv6.org/libcppa.html">project website</a> for our <a href="http://dx.doi.org/10.1145/2541329.2541336">reference paper</a>.
      </p>
    </div>

  </div>
  <div class="container sidebar-sticky">
    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
