---
layout: default
---

{% assign author = site.authors[page.author] %}
<div class="row" style="padding-top: 6em; padding-bottom: 4em">
  <div class="row text-center">
    <div class="small-12 columns">
      <h1><b>
      {{ page.title }}
      </b></h1>
    </div>
  </div>
  <div class="row" style="padding-top: 2em">
    <div class="small-2 columns">
      &nbsp;
    </div>
    <div class="small-8 columns">
      <p>
        {{ page.date | date_to_long_string }},
        <a href="https://github.com/{{ author.github }}">{{ author.display_name }}</a>
        {% for tag in page.tags %}
        [<a href="/blog/tags/#{{ tag }}-ref">#{{ tag }}</a>]
        {% endfor %}
      </p>
    </div>
    <div class="small-2 columns">
      &nbsp;
    </div>
  </div>
  <div class="row">
    <div class="small-2 columns">
      &nbsp;
    </div>
    <div class="small-8 columns">
      {{ content }}
    </div>
    <div class="small-2 columns">
      &nbsp;
    </div>
  </div>
</div>
